.app {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    background: olivedrab;
}

.box {
    z-index: 99;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vmin;
    background: rgb(255, 255, 255);
    border-radius: 10%;
    width: 25vmin;
    height: 25vmin;
    box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.07),
        0 10px 15px 0 hsla(0, 0%, 0%, 0.05);
}