.main {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.slide {
    cursor: pointer;
    position: absolute;
    width: 45vmin;
    height: 45vmin;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.06);
}

.buttons {
    position: fixed;
    top: 12vmin;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 5vmin;
}

button {
    opacity: 0.8;
    display: block;
    width: 22vmin;
    height: 8vmin;
    border-radius: 1vmin;
    border: 0;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 3vmin;
    cursor: pointer;
    color: #1a1a1a;
}

button:hover {
    opacity: 1;
}

button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}